<div class='container'>
  <h1>Recognize Your Number</h1>
  <p>Drag your mouse over the canvas below to begin drawing</p>
  {{>drawing-canvas}}
  <div class="container">
    <img id="result">
  </div>
</div>