<section>
  <div class='container'>
    <h1 id="title">NumbeRecognize</h1>
    <p class="subtitle">Drag your mouse over the canvas below to begin drawing (single digit only)</p>
    {{>drawing-canvas}}
    <div class="container">
      <div class='container'>
        {{>result}}
      </div>
      <div class='container'>
        {{>chart}}
      </div>
    </div>
  </div>
</section>
<section id="how-it-works">
  <div class="container">
    {{>how-it-works}}
  </div>
</section>
<script src='./js/script.js'></script>
