html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;  
  align-items: center;
  padding: 15px;
  margin-left: 25px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

nav ul li {
  gap: 1em;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li a {
  transform: translate(0, 25%);
}

.big-font {
  font-size: 5rem;
}

.subtitle {
  text-align: center;
}

.drawing-board {
  border:1px solid black;
}

#title {
  font-size: 60px;
}

#drawing-board {
  touch-action: none;
}

.drawing-board {
  margin-top: 25px;
}

#dummy-canvas {
  display: none;
}

#dummy-img {
  display: none;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}